<section id="card-actions">
  <div class="row">
    <div class="col-xs-12">
      <div class="card">
        <div class="card-body ">
          <div class="card-block">
            <div class="row">
              <div class="col-xl-12 col-lg-12 mb-2">
                <div class="col-md-12" style="text-align: center; margin:0 auto; ">
                      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                          <div class="col-md-6">
                            <label for="firstname">First Name: </label>
                            <input id="firstname" type="text" name="firstname" formControlName="firstname"   class="form-control"/>
                            <div class="alarm"  *ngIf="contactForm.get('firstname')!.invalid && contactForm.get('firstname')!.touched">
                              firstname is required and must be at least 3 characters long.
                            </div>
                          </div>

                          <div class="col-md-6">
                            <label for="lastname">Last Name: </label>
                            <input id="lastname" type="text" name="lastname" formControlName="lastname"  class="form-control" />
                            <div class="alarm"  *ngIf="contactForm.get('lastname')!.invalid && contactForm.get('lastname')!.touched">
                              lastname is required and must be at least 3 characters long.
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <label for="email">Email: </label>
                            <input type="text" id="email" name="email" formControlName="email"  class="form-control">
                            <div class="alarm"  *ngIf="contactForm.get('email')!.invalid && contactForm.get('email')!.touched">
                              Enter a valid email address.
                            </div>
                          </div>
                          <div class="col-md-6">
                            <label for="password">Password:</label>
                            <input id="password" type="password" formControlName="password"  class="form-control">
                            <div class="alarm"  *ngIf="contactForm.get('password')!.invalid && contactForm.get('password')!.touched">
                              Password is required and must be at least 6 characters long.
                            </div>
                          </div>

                        </div>
                        <div class="row mt-3">

                          <div class="col-md-6">
                            <label for="age">Age:</label>
                            <input id="age" type="number" formControlName="age"  class="form-control" >
                            <div class="alarm" *ngIf="contactForm.get('age')!.invalid && contactForm.get('age')!.touched">
                              Age is required and must be Number.
                            </div>
                          </div>

                          <div class="col-md-6">

                            <div formArrayName="phoneNumbers">
                              <label>Phone Numbers:</label>

                              <div *ngFor="let phone of phoneNumbers.controls; let i = index" class="d-flex align-items-center">
                                <input type="text" class="form-control" [formControlName]="i" placeholder="Enter phone number" maxlength="11" />

                                <button type="button" class="btn btn-danger ms-2" (click)="removePhoneNumber(i)" *ngIf="phoneNumbers.length > 1">
                                  -
                                </button>
                              </div>

                              <button type="button" class="btn btn-primary mt-2" (click)="addPhoneNumbers()">+ Add Phone</button>
                            </div>

                            <div formArrayName="phoneNumbers">

                            </div>
                          </div>


                        </div>

                        <div class="row mt-3">

                          <div class="col-md-6">
                            <label for="gender">Geneder: </label>
                            <input type="radio" value="male" id="gender" name="gender" formControlName="gender"> Male
                            <input type="radio" value="female" id="gender" name="gender" formControlName="gender">
                            Female
                          </div>

                          <div class="col-md-6">
                            <label for="isMarried">Married ? </label>
                            <input type="checkbox" id="isMarried" name="isMarried" formControlName="isMarried">
                          </div>

                        </div>


                        <label class="my-4" for="address">Address:</label>
                        <div formGroupName="address">

                        <div class="row mt-3">


                            <div class="col-md-3">

                                <label for="city">City:</label>
                                <input type="text" class="form-control" name="city" formControlName="city">


                            </div>

                            <div class="col-md-3">

                                <label for="street">Street</label>
                                <input type="text" class="form-control" name="street" formControlName="street">

                            </div>

                            <div class="col-md-3">
                              <div class="form-group">
                                <label for="pincode">Pin Code</label>
                                <input type="text" class="form-control" name="pincode" formControlName="pincode">
                              </div>
                            </div>

                            <div class="col-md-3">
                              <label for="country">country </label>
                              <select id="country" name="country" formControlName="country">
                                <option value="1">Egypt</option>
                                <option value="2">USA</option>
                                <option value="3">England</option>
                                <option value="4">Singapore</option>
                              </select>
                              <!-- <div *ngIf="contactForm.get('country')!.invalid && contactForm.get('country')!.touched">
                                Country is required.
                              </div> -->
                            </div>

                          </div>
                        </div>
                          <button class="btn btn-success mt-4 " type="submit" [disabled]="contactForm.invalid">Submit</button>
                          <button class="btn btn-danger mt-4 mx-2" type="button" (click)="resetForm()">Reset Form</button>


                      </form>

                      <h3>Live Preview:</h3>
                      <pre>{{ contactForm.value | json }}</pre>


                      <!-- <div class="row mt-2">
                        <div class="col-xl-12 col-lg-12 mb-2">
                          <div class="table-responsive text-nowrap">
                            <table class="table table-sm table-bordered">
                              <thead>
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">First</th>
                                  <th scope="col">Last</th>
                                  <th scope="col">email</th>
                                  <th scope="col">password</th>
                                  <th scope="col">age</th>
                                  <th scope="col">gender</th>
                                  <th scope="col">isMarried?</th>
                                  <th scope="col" colspan="4">Address</th>
                                  <th scope="col" colspan="phoneNumbers.length">phoneNumbers</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let item of contactForm.value let i = index">
                                  <th scope="row">{{i + 1 }} </th>
                                  <td>{{item.firstname}}</td>
                                  <td>{{item.lastname}}</td>
                                  <td>{{item.email}}</td>
                                  <td>{{item.password}}</td>
                                  <td>{{item.age}}</td>
                                  <td>{{item.gender}}</td>
                                  <td>{{item.isMarried}}</td>
                                  <td>{{item.city}}</td>
                                  <td>{{item.street}}</td>
                                  <td>{{item.pincode}}</td>
                                  <td>{{item.country}}</td>
                                  <td>{{item.phoneNumbers}}</td>
                                </tr>

                              </tbody>
                            </table>

                          </div>
                        </div>
                      </div> -->

                </div>
              </div>
            </div>
          </div>
         </div>
        </div>
      </div>
    </div>
</section>
